<p>user-list works!</p>
<h1>Reactive Form</h1>
<app-add-user-reactive></app-add-user-reactive>
<h1>Template Driven Form</h1>
<app-add-user></app-add-user>
   
<div class="row">
    <app-account [image]="'../assets/images/admin.png'" [title]="'Admin Account'" [description]="'An admin account has privileges to manage services for other people in the App.</p>'" [category]="'Admin'"></app-account>
    <app-account [image]="'../assets/images/customer.png'" [title]="'Customer Account'" [description]="'A Customer Account is a centralized place to manage all billing information about customers</p>'" [category]="'Customer'"></app-account>
    <app-account [image]="'../assets/images/golden.png'" [title]="'Golden Account'" [description]="'All Golden members  benefit from the features included with the Cambrian Golden Account </p>'" [category]="'Golden'"></app-account>
    <app-account [image]="'../assets/images/blocked.png'" [title]="'Blocked Account'" [description]="'an account that does not allow for unlimited  but instead has certain restrictions</p>'" [category]="'Blocked'"></app-account>
</div>
  <router-outlet></router-outlet>


  